
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Pesquisador de Currículos</title> 
  <link rel="icon" type="image/png" href="assets/prancheta.png">
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <div class="container">
    <div class="card">
      <h1>Pesquisador de Currículos</h1>
      <form class="search-form" action="/search" method="get">
        <input
          type="text"
          name="query"
          placeholder="Digite uma palavra-chave…"
          autocomplete="off"
        />
        <button type="submit" aria-label="Pesquisar" style="margin-top: 0.4rem;">
          <img src="/assets/enviar.png" alt="Enviar" style="height: 50%">
        </button>
      </form>
    </div>
  </div>
</body>
</html>